<% flash.each do |type, msg| %>
  <% if notice %>
  <div class="notification is-success is-light">
    <%= msg %>
  </div>
  <% else %>
  <div class="notification is-danger is-light">
  <%= msg %>
</div>
<% end %>
<% end %>