<%= form_with(model: tarea) do |f| %>
  <form class="box">
  <div class="control">
        <div class="field">
            <%= f.text_field :descr, class: "input", placeholder: "New task" %>
            <%= f.submit "update", class: "button"  %>
        </div>
    
  </div>

  </form>

  
  </form>
<% end %>





