<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  <div class="navbar-item">
    <i class="fa-solid fa-list-check fa-2xl">
        </i>
  </div>
  </div>
  <div class="navbar-brand">
  <div class="navbar-item">
    <h1 class="title is-3">To do list</h4>
        
  </div>
  </div>
    <div class="navbar-end">
    <div class="navbar-item">
    <h1 class="title is-5">made with Rails</h1>
    </div>
    </div>
</nav>