<section class="section">
  <h1 class="title"> Edit task</h1>
  
  <div class="box">
  <%= render "form", tarea: @tarea %>
  </div>
    <table class="table">
      <tbody>
        <tr>
          <td><%= link_to "Show this tarea", @tarea %> </td>
          <td><%= link_to "Back to tareas", tareas_path %></td>
        </tr>
      </tbody>
    </table>
</section>