<section class="section">
<div class="container">
<h1 class="title">TAsks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
    <div class="box">
    <%= link_to task.title, task %>
      
      <button class="button is-primary is-light"><i class="fa-solid fa-check"></i></button>
      </div>

    </li>
  <% end %>
</ul>
</div>
</section>