@import "bulma";
@import "font-awesome";

.completed {
  text-decoration: line-through;
  color: gray;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
