@import "bulma";
@import "font-awesome";

.completed {
  text-decoration: line-through;
  color: gray;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.box {
  display: inline-block;
  width: 900px;
  max-width: 100%;
}
.field {
  display: flex;
  flex-flow: row nowrap;
}

.input {
  margin: 0 20px 0 0;
}
